.gallery {
  &__item {
    position: relative;
    margin: 0 5px 5px 5px;
    height: auto;

    @media (min-width: 640px) {
      width: auto;
      height: inherit;
    }

    &:hover .gallery__item-remove {
      display: block;
    }

    // img {
    //   width: 100%;
    //   height: inherit;

    //   @media (min-width: 640px) {
    //     width: auto;
    //   }
    // }
  }

  &__item-remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 640px) {
      justify-content: flex-start;
    }
  }
}
