.gallery {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: auto;
    max-height: 155px;
    margin: 0 5px 5px 5px;

    @media (max-aspect-ratio: 1/1) {
      height: 30vh;
    }

    &:hover .gallery__item-remove {
      display: block;
    }

    img {
      max-width: 100%;
      width: auto;
      max-height: 155px;
      object-fit: cover;
    }
  }

  &__item-remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
}
